@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px;
  background-color: #edf2f7;
  /* Tailwind color gray-200 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #718096;
  /* Tailwind color gray-600 */
}

